<%- include('../partials/header'); -%>

<div class="container">
  <% if(products){ %>
  <div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
      <ul class="list-group">
        <% products.forEach(function(product){ %>
        <li class="list-group-item">
          <span class="badge"><%= product.qty %></span>
          <strong><%= product.item.title %></strong>
          <span class="label label-success"><%= product.price %></span>
          <div class="btn-group">
            <button
              class="btn btn-primary btn-xs dropdown-toggle"
              type="button"
              data-toggle="dropdown"
            >
              Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href="/add/<%= product.item._id %>">Add by 1</a>
              </li>
              <li>
                <a href="/reduce/<%= product.item._id %>">Reduce by 1</a>
              </li>
              <li><a href="/remove/<%= product.item._id %>">Remove All</a></li>
            </ul>
          </div>
        </li>
        <% }); %>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
      <Strong>Total: <%= totalPrice %> </Strong>
      <hr />
    </div>
  </div>  

 

  <div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
      <button type="button" id="rzp-button1" class="btn btn-success">Checkout</button>
    </div>
  </div>



  <% } else { %>
  <div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
      <h2>No Items in Cart</h2>
    </div>
  </div>
  
    
  <% } %>
</div>
<script>
  axios.post('/order').then((info) =>{
      var options = {
          "key": "rzp_test_WLANMe64tLmDaL", 
          "name": "Acme Corp",
          "description": "Test Transaction",
          "order_id": info.data.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
          "callback_url": "/check-payment",
          "notes": {
              "address": "Razorpay Corporate Office"
          },
          "theme": {
              "color": "#3399cc"
          }
      };

      var rzp1 = new Razorpay(options);
      document.getElementById('rzp-button1').onclick = function(e){
          rzp1.open();
          e.preventDefault();
      }

  })
</script>


<%- include('../partials/footer'); -%>
